<header>
  <link rel="stylesheet" type="text/css" href="style.css">
  <ul>
    <% Object.keys(objs).forEach(function (id) { %>
      <li><a href=<%= objs[id].link %>><%= objs[id].title %></a></li>
    <% }) %>
  </ul>

</header>
