<header>
  <link rel="stylesheet" type="text/css" href="style.css">
  <ul>
    <% Object.keys(navs).forEach(function (id) { %>
      <li><a href=<%= navs[id].link %>><%= navs[id].title %></a></li>
    <% }) %>
  </ul>

</header>
