<html>
  <link rel="stylesheet" type="text/css" href="style.css">

  <% include ../partials/header %>

  <title>Films of 2017 🎥</title>

  <h1>Upcoming Films of 2017!</h1>

  <p>Check out the links above to see some top films coming out during 2017.</p>

    <% include ../partials/footer %>
</html>
